.parent {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    position: relative;
}
.child_top_right {
    background-color:crimson;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
}
.child_center {
    background-color: dodgerblue;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute; /*부모요소 높이값 실종됨*/
}